div#global
  div.project-container
    - var projects = ['00_Sick.jpg', 'Asmodeus.jpg', 'Astaroth.jpg', 'Azazel.jpg', 'background.png', 'Balan.jpg', 'bashir.jpg', 'cdk.jpg', 'cohen.jpg', 'Lucifer.jpg', 'Malphas.jpg', 'Moloch.jpg', 'Orobas.jpg', 'PLAISTOW-DYFL-cover400px.jpg', 'viewmore_icon.png', 'Volac.jpg', 'Xaphan.jpg']
    //- var projects = ['00_Sick.jpg', 'Asmodeus.jpg', 'Astaroth.jpg']
    each project in projects
      a.project(href='/project.html')
        div.excerpt
          img(src="img/#{project}")
          h2 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
    
    div#viewmore
      button.ufo get more